.placement {
  &-top {
    margin-top: -20px;
  }
}

.Side {
  transition: left 0.3s linear, opacity 0.3s linear, transform 0.3s ease-in-out;

  aside {
    min-width: 300px;
    max-width: 550px;
    width: 30vw;
  }

  &.Left {
    top: 50vh;
    transform: translate(0, -50%);
  }

  &.Right {
  }

  &.Title {
    width: 450px;
    left: 50vw;
    transform: translate(-50%, 0);
  }

  &.Controls {
    width: 56px * 5;
    left: 50vw;
    transform: translate(-50%, 0);
  }
}

.Simple {
  .Side {
    &.Left {
      opacity: 0;
      transform: translate(-100%, -50%);
    }
    &.Right {
      opacity: 0;
      transform: translate(100%, 0);
    }
    &.Title {
      left: 0.125rem;
      transform: translate(0%, 0);
    }
  }
}

.Popup {
  color: #000;

  &::after {
    content: "";
    display: block;
    pointer-events: none;
    width: 10px;
    height: 10px;
    background-color: rgb(229 231 235);
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 100%);
    clip-path: polygon(0% 0%, 100% 0, 50% 100%);
  }
}

.Popup2 {
  // position: fixed;
  // default top/left
  border-bottom-left-radius: 0;

  .Caret {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    transform: translate(0, 100%);
  }
}

.Opts {
  li {
    border-radius: 0.2em;

    &:hover {
      color: #000;
      background-color: azure;
    }
  }
}

.Marker {
  display: none;
}
.BirdEye {
  .Marker {
    display: block;
  }
}
