@import "./vars";

html {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

a {
  &:hover {
    color: #008000;
  }
}

.App {
}

header {
  height: $hh;
}

footer {
}

main {
}

section {
  padding: 2rem 1rem;
  height: 100vh;
}

hr {

}

@import "./layout";
