@import "./vars";

html {
  font-family: "Fredoka", "Smiley Sans", "ui-sans-serif", system-ui, sans-serif;
  background: #fafafa;
  color: #374151;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

body {
  margin: 0;
  padding: 0;
}

@import "./layout";
@import "./code";
