---
---

<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico?v=1.0" />
  <link rel="stylesheet" href="/assets/tailwind.css" />
  <link rel="stylesheet" href="/assets/style.css" />

  {%- feed_meta -%}
  <!-- // -->
  {%- seo -%}
</head>

<body>
  <div class="App">
    <main>
      <div class="AppContent">{{ content }}</div>
    </main>
  </div>
</body>

</html>